<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Universidad Latina </title>
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
</head>

<body>
    <div id="container">

        <div id="header">
            <div class="headtitle">CARS WITH POPI</div>
        </div>

        <div id="menu">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Carrera" asp-action="Index">Gestión de Carreras</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Estudiante" asp-action="Index">Estudiantes</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                </li>

            </ul>
        </div>


        <div id="content">

            <div id="insidecontent">
                @RenderBody() <!--LLama a los archivos de la vista-->
            </div>

            <div style="clear: both;"></div>

        </div>



        <div id="footer">
            <span>&copy; 2025 - Universidad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </span>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
