
@{
    ViewData["Title"] = "AcercaDe";
}

<h1>Acerca de nosotros</h1><br>
<br>
<h2>Universidad Latina de Costa Rica</h2>
<br>
<h2>Curso: Programacion 4</h2>
<br>
<h3>Estudiantes:</h3>
Santiago Ramirez Elizondo
Luis Alonso Matarrita Obregon
Luis Felipe Mendez Navarro
Jose Alberto Alvarez Navarro
<br>
<h3>Profesora:</h3>
Adriana
<br>

Falta agregar imagenes, completar datos y que se vea mas bonito 