@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al registro de Uber Costa Rica</h1>
    <h3 class="display-4">Los detalles de bonificación mensual se observan en el apartado de Detalles.</h3>
</div>
